data:
  Corefile: "example.com:53 {\n    forward . {{ k3d_external_dns_addr }} \n}\n.:53 {\n    errors\n    health\n    ready\n    kubernetes cluster.local in-addr.arpa ip6.arpa {\n      pods insecure\n      fallthrough in-addr.arpa ip6.arpa\n    }\n    hosts /etc/coredns/NodeHosts {\n      ttl 60\n      reload 15s\n      fallthrough\n    }\n    prometheus :9153\n    forward . /etc/resolv.conf\n    cache 30\n    loop\n    reload\n    loadbalance\n}\n"
  NodeHosts: "172.20.0.1 host.k3d.internal\n172.20.0.2 k3d-ingress-serverlb\n172.20.0.3 k3d-ingress-server-0\n"
